* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #e0e0e0;
    background-color: #13151a;
    font-family: system-ui, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 999;
}

h1 {
    font-size: 2.5em;
    margin-top: 5vh;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}

a {
    color: currentColor;
}

nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 40vw;

    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;

    background: #4C4B5C;
    border-left: 0.3rem solid #db5347;
    margin: 1rem 0;
    padding: 1rem;
    transition: border-left-width 150ms ease-in-out;
}

a:hover {
    border-left-width: 0.5rem;
}


.spacer {
    max-height: 30vh;
    flex-grow: 999;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-top: 6rem;
    padding: 1rem;

    background-color: #4C4B5C;
}
